#lottie.uk-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1010;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	padding: 15px 15px;
	background: rgba(0, 0, 0, 0.6);
	transition: opacity 0.15s linear;
	padding: 50px 30px;
	display: flex;
	justify-content: center;
	p {
		color: white;
		text-align: center;
		margin-top: 25px;
	}
	.uk-modal-dialog {
		background-color: transparent !important;
		display: flex;
		justify-content: center;
	}
	.lds-ring {
		display: block;
		width: 170px;
		height: 170px;
		position: relative;
	}
	.lds-ring div {
		box-sizing: border-box;
		display: block;
		position: absolute;
		width: 170px;
		height: 170px;
		margin: 6px;
		border: 8px solid rgba(32, 26, 86, 0.6);
		border-radius: 100%;
		animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
		border-color: rgba(32, 26, 86, 0.6) transparent transparent transparent;
	}
	.lds-ring div:nth-child(1) {
		animation-delay: -0.45s;
	}
	.lds-ring div:nth-child(2) {
		animation-delay: -0.3s;
	}
	.lds-ring div:nth-child(3) {
		animation-delay: -0.15s;
	}
	@keyframes lds-ring {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}
