.assessment {
	&-container {
		display: flex;
		background: #f8fafb;
		border-radius: 14px;
		margin-bottom: 24px;
		align-items: center;
		padding: 15px;
		justify-content: space-between;

		&__img {
			width: 64px;
			height: 64px;
			background: #f2f4f8;
			border-radius: 12px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

.author {
	background: #f8f9fb;
	border-radius: 10px;
	padding: 1rem;
	height: 70vh;
	img {
		width: 64px;
		height: 64px;
		border-radius: 50%;
	}
	p {
		font-weight: normal;
		// font-size: 13px;
		line-height: 180%;
		letter-spacing: 0.5px;
		color: #333333;
		margin: 25px 0px;
	}
}
.similar_course {
	img {
		width: 60px;
		height: 60px;
		border-radius: 6px;
	}
}
