.auth {
	height: 100vh;
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	position: relative;
	width: 100%;
	@media (max-width: 960px) {
		display: block;
	}

	&__banner {
		height: 100%;
		background-image: url('../../assets/img/authbg.png');
		background-size: cover;
		position: relative;
		background-repeat: no-repeat;
		@media (max-width: 960px) {
			display: none;
		}
	}
	&__children {
		padding: 30px 100px;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width: 960px) {
			padding: 30px;
		}
		button {
			margin-top: 25px;
		}
	}
	&__container {
		overflow-y: scroll;
		width: 100%;
		height: 100vh;
		-ms-overflow-style: none; 
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	&__title {
		font-size: 1.4rem;
		margin-bottom: 5px;
		font-weight: 500;
		color: #293340;
		font-weight: bold;
		margin-top: 35px;
	}
	&__sub-title {
		margin-bottom: 30px;
		font-size: 0.9375rem;
		line-height: 1.7;
		color: #8798ad;
	}
	&__bottom {
		color: #b0bac9;
		margin-top: 25px;
		margin-bottom: 40px;
		text-align: center;
		a {
			color: $btn-primary;
		}
	}

	// p.terms {
	// 	font-size: 0.95rem;
	// 	span {
	// 		color: #8865db;
	// 	}
	// }
}
