// @font-face {
// 	font-family: AvenirRegular;
// 	src: url(../assets/fonts/Avenir-Medium.ttf);
// }

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
	font-family: AvenirNextRegular;
	src: url(../../assets/fonts/AvenirNextRegular.ttf);
	font-style: normal;
}
