.container {
	margin: 0 auto;
	max-width: 1040px;
	padding: 0 20px;
	width: 100%;
	&--xs {
		max-width: 450px;
	}
	&--sm {
		max-width: 600px;
	}
	&--md {
		max-width: 960px;
	}
	&--lg {
		max-width: 1240px;
	}
	&--full-width {
		max-width: 100%;
		padding: 0;
	}
}

.dashboard-layout {
	position: relative;
	background-color: $basic;
	&__child {
		height: 100vh;
		display: flex;
		box-sizing: border-box;

		@media (max-width: 1000px) {
			width: 100%;
		}
		& > div:nth-child(2) {
			background: white;
			width: calc(100vw - 250px);
			overflow-y: scroll;
			min-height: calc(100vh - 84px);
		}
	}
}
