// @font-face {
// 	font-family: AvenirRegular;
// 	src: url(../assets/fonts/Avenir-Medium.ttf);
// }

@font-face {
	font-family: AvenirNextRegular;
	src: url(../assets/fonts/AvenirNextRegular.ttf);
	font-style: normal;
}
